{% extends 'base.html.twig' %}

{% block title %}Stock Management{% endblock %}

{% block body %}
<h1>Welcome to stock management</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a href="{{ path('app_products') }}">See products</a>
    </li>
    <li class="list-group-item">
        <a href="{{ path('app_storages') }}">See storages</a>
    </li>
</ul>
{% endblock %}
