{% extends 'base.html.twig' %}

{% block title %}Stock Management{% endblock %}

{% block body %}
<h1>Welcome to stock management</h1>
<p>This application is made to track what's in stock, and make alerts when a product start to be missing.</p>
{% endblock %}
