{% extends 'base.html.twig' %}

{% block title %}Storage - Stock Managment{% endblock %}

{% block body %}
{% if storage %}
<div class="container">
    <h5>{{storage.name}}</h5>
    <ul>
    {% for product in storage.products %}
        <li>
            <a href="/products/{{product.id}}">{{product.name}}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
